<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Surf Trends</h1>

  <h2>
    This is the home page for the Surf Trends application.  Think Waze for surfing conditions.
  </h2>

  <%= link_to "Place A Report", '#', class: "btn btn-large btn-primary" %>
  <%= link_to "Check Reports", '#', class: "btn btn-large btn-primary" %>
</div>